body {
    overflow: hidden;
}

.feedback-form i, .reverse-form input {
    -webkit-box-shadow: inset 0 0 1px 1px #313E52;
    box-shadow: inset 0 0 1px 1px #313E52
}

body {
    overflow: hidden
}

.assistance-unit a, .logo a, .one-section a {
    text-decoration: none
}

.one-section p {
    text-transform: uppercase
}

.content, .feedback-form, .header {
    min-width: 340px
}

* {
    padding: 0;
    margin: 0
}

.header {
    position: relative;
    background: #123f58;
    padding-top: 47px
}

.feedback-form {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 500;
    background: #123f58
}

.feedback-form i {
    width: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 5px 1px;
    margin-right: 5px;
    color: #caffcf;
    background: #123f58;
    border: 1px solid #67809f;
    cursor: pointer
}

.feedback-form i:hover {
    background: #caffcf;
    color: #123f58
}

.feedback-form p {
    display: inline-block;
    color: #caffcf;
    margin: 8px 2px
}

.feedback-form span {
    margin-left: 5px;
    font-weight: 600
}

.search-me {
    position: relative;
    display: inline-block;
    left: 60px
}

.location, .reverse-form {
    display: none;
    width: 100%;
    height: 350px;
    top: 42px;
    text-align: center;
    position: absolute
}

.location {
    z-index: 5
}

.location img {
    width: 100%
}

.reverse-form {
    z-index: 1;
    vertical-align: middle;
    background: rgba(56, 130, 140, .85)
}

.reverse-form h2 {
    padding: 30px 0;
    color: #123f58
}

.reverse-form input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 25%
}

.reverse-form button {
    padding: 10px;
    color: #caffcf;
    background: #123f58;
    border: 1px solid #67809f;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.reverse-form button:hover {
    background: #caffcf;
    color: #123f58
}

.to-find-me {
    display: inline-block;
    position: absolute;
    right: 60px
}

.to-find-me input {
    color: #fff;
    padding: 8px 3px 4px;
    background: 0 0;
    font-size: 12px;
    border: none;
    text-align: right
}

.to-find-me span > i {
    background: 0 0;
    border: none;
    cursor: inherit
}

.to-find-me span > i:hover {
    background: 0 0;
    color: #caffcf
}

.voice-information-block, .voice-information-block-active {
    position: fixed;
    right: 70px;
    z-index: 2;
    padding: 5px;
    text-align: center;
    width: 200px;
    background: rgba(18, 63, 88, .9);
    display: block;
    line-height: 16px
}

.voice-information-block {
    top: 135px;
    border: 1px solid #f25f43;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.voice-information-block h6 {
    color: #caffcf
}

.voice-information-block span {
    color: #f25f43
}

.voice-information-block p, .voice-information-block-active h6 {
    color: #caffcf
}

.voice-information-block-active {
    top: 45px;
    border: 1px solid #f25f43;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.voice-information-block-active span {
    color: #f25f43
}

.logo a, .voice-information-block-active p {
    color: #caffcf
}

.logo {
    display: block;
    text-align: right;
    padding: 0 60px;
    background: url("/img/background/logo.png") left 60px center no-repeat #38828c;
    background-size: 85px
}

.logo li {
    display: inline-table;
    list-style: none;
    text-align: center;
    cursor: pointer;
    font-weight: 700
}

.logo li:hover {
    font-weight: 600;
    border-top: 3px solid #caffcf;
    margin-top: -3px
}

.logo a {
    display: block;
    width: 95px;
    padding: 35px 2px
}

.leftInformationBlock, .scrollTrackingActive {
    left: 60px;
    z-index: 5;
    width: 240px;
    background: rgba(18, 63, 88, .9)
}

.logo a:hover {
    color: #2a2a2a
}

.leftInformationBlock {
    position: absolute;
    top: 135px;
    line-height: 16px;
    border: 1px solid #f25f43;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center
}

.leftInformationBlock h5 {
    padding: 5px;
    color: #caffcf
}

.leftInformationBlock p {
    color: #caffcf;
    font-size: 16px;
    padding: 5px 10px
}

.leftInformationBlock i {
    float: right;
    font-size: 20px;
    text-align: right;
    margin-left: 10px;
    color: #caffcf
}

.scrollTrackingActive {
    position: fixed;
    top: 45px;
    height: auto;
    border: 1px solid #f25f43;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center
}

.scrollTrackingActive h5 {
    padding: 5px;
    color: #caffcf
}

.scrollTrackingActive p {
    color: #caffcf;
    font-size: 16px;
    padding: 5px 10px
}

.scrollTrackingActive i {
    float: right;
    font-size: 20px;
    text-align: right;
    margin-left: 10px;
    color: #caffcf
}

.one-section li {
    text-align: center
}

.content {
    position: relative;
    display: block;
    background: #fff
}

.one-section {
    display: block;
    padding: 300px 0
}

.one-section h2, .one-section h3, .one-section p {
    color: #123f58;
    padding: 10px 0
}

.one-section h3 {
    font-size: 30px
}

.one-section h2 {
    font-weight: 700
}

.one-section p {
    margin-bottom: 50px
}

.one-section a {
    background: #123f58;
    color: #caffcf;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 30px;
    cursor: pointer;
    margin: 10px 0 90px
}

.one-section a:hover {
    -webkit-box-shadow: 0 0 1px 1px #123f58;
    box-shadow: 0 0 1px 1px #123f58;
    border: 1px inset solid;
    background: #caffcf;
    color: #123f58
}